/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style sheet*/
body {
    font-family: Roboto, sans-serif;
    color:#252b26;
    background-color: #ffffff;
    background-size: cover;
  }
    
  header {
    padding: 20px 0;
    position:fixed;
    max-height: auto;
    z-index:10;
    display: block;
    background-color: white;
  }
  

  header .row,
  footer .row {
    align-items: center;
  }
  
  h1 {
    font-weight: 700;
    margin: 0;
  }

  nav {
    justify-content: flex-end;
  }

  nav a {
    font-style: bold !important;
  }
  small {
    font-size: 80% !important;
  }
  
  a {
    color:#252b26;
    padding: 0 20px;
    margin: 0;
  }
  .jumbotron {
    
    align-items: center;
    
    background-color: #B85042;
    color: #E7E8D1;
    max-height: 200px;
    border-radius: 20px;
   
  }
  
  .jumbotron h2 {
    font-size: 40px;
    font-weight: 700; 
    margin: 0;
    color: #fff;
  }
  
  .jumbotron h3 {
    font-size: 30px;
    margin: 0 0 20px;
    color: #fff;
  }
  
  section .row a {
  padding: 0;
  }
  
  section .row img {
    margin: 0 0 30px;
    height: auto;
    width: 100%;
    border-radius: 10px;
  }
  
  .row h4 {
    font-style: italic;
  }
  .content {
    overflow: scroll;
    position:relative;
    top:180px;
  

  }
   section {
    margin: 5px;
   }

  
  
  .grid-container {
    display: grid;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    right:0;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 0 5px;
    background-color: #B85042;
    color:#E7E8D1;
  }
  
  /* MEDIA QUERIES declarations */
  
  @media screen and (max-width: 500px) {
    body {
      font-size: 80% !important;
    }
   .jumbotron {
      max-height: auto;
    }
  
    .jumbotron h2 {
      font-size: 10vw !important;
    } 
    .jumbotron h3 {
      font-size: 5vw !important;
    }
  
    section .row img {
      width: 50% !important;
    }
  }